

.landing-page-container{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.page-title{
    font-size: 4rem;
}

.icons-menu{
    display: flex;
}
.page-menu-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;    align-items: center;
}

.menu-icon-container{
    margin: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
}

.menu-icon-container:hover{
    transform: scale(1.05);
    transition: transform 200ms;
    cursor: pointer;
}

.menu-icon{
    font-size: 4rem;  
}