.meeting-detail-page{
    position: absolute;
    width: 100%;    
}
.meeting-detail-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

.user-input-container{
    margin-top: 10vh;
    height: 10vh;
    position: fixed;
    background-color: #C6C5B9;
    border-bottom-right-radius: 10px;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 20px;
}

.input-label{
    margin-right: 10px;
}

.topic-filter-input{
    height: 80%;
    width: 300px;
}