ENVIRONMENT=local|prod
STORAGE_BACKEND=local|s3
LOCAL_DATA_ROOT=

DATA_LAKE_BUCKET_NAME_OBJECT_URI=
DATA_LAKE_BUCKET_NAME=

CORS_ALLOW_ORIGINS=[]

API_KEY=
API_KEY_HEADER_NAME=
ALLOWED_HOSTS=

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=

FRONTEND_URL=

