.topic-card{
    position: relative;
    width: 90%;
    background-color: darkcyan;
    margin-top: 5px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.topic-card-header{
    background-color: white;
}

.topic-card-content{
    width: 100%;
}