.topic-card{
    position: relative;
    width: 90%;
    background-color: darkcyan;
    margin-top: 5px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.topic-card-header{
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.topic-card-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.party-vote-result-container{
    position: relative;
    width:45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        
}

.jump-to-topic-detail-icon-link{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin: 10px;
    padding:5px;
    height: 50%;
    transition: 200ms;
}

.jump-to-topic-detail-icon-link:hover{
    cursor: pointer;
    transition: 200ms;
    border-radius: 50%;
}


